.content {
    background: #f8f6f6;
    height: 100vh;
    padding: 1.5rem;
    transition: all .1s ease-in-out;
    width: 100vw;
    border: none;

}

.pokedex-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.content h1 {
    color: rgb(0, 0, 0);
    font-family: 'Bangers', cursive;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-left: calc(50% - 80px);
    text-shadow: 1px 1px 2px rgba(165, 164, 164, 0.45);
}

.pokemonsContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    list-style: none;
}


.flip-card {
    background-color: transparent;
    cursor: pointer;
    height: 255px;
    perspective: 1000px;
}

.flip-card-inner {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    text-align: center;
    width: 100%;
}

.pokemonInf {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
}

.pokemonInf #pokemonName {
    color: #FFF;
    font-size: 1.15rem;
    text-transform: capitalize;
}

.pokemonInf #pokemonID {
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.45;
    color:rgb(20, 20, 20)
}

.type {
    background: rgba(0, 0, 0, 0.35);
    border-radius: .2rem;
    color: #FFF;
    font-size: .85rem;
    list-style: none;
    padding: .4rem;
    text-transform: capitalize;
}

.types {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.flip-card:active  .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    backface-visibility: hidden;
    border-radius: .5rem;
    height: 100%;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;    
}

.flip-card-front {
    align-items: center;
    color: #2F2F2F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.flip-card-front img {
    overflow: hidden;
    width: 80px;
}

.flip-card-back {
    align-items: center;
    color: #2F2F2F;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    transform: rotateY(180deg);
}

.backInf {
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: .4rem;
    display: flex;
    justify-content: space-around;
    padding: 0.7rem;
    transition: all .2s ease-in-out;
    width: 80%;
}

.backInf:hover {
    transition: 2s all ease-in-out; 
    cursor: pointer; 
    transform: scale(1.2); 
}

.backInfTitle {
    font-size: 0.8rem;
    font-weight: 400;
}

.inf {
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 300;
    gap: .5rem;
    text-transform: capitalize;
}

.backInf P {
    color: #FFF;
    text-transform: capitalize;
}


.bug {
    background: rgb(148, 163, 20);
    background: linear-gradient(90deg, rgba(148, 163, 20, 1) 16%, rgba(200, 218, 42, 1) 100%);
}

.dark {
    background: rgb(64, 47, 37);
    background: linear-gradient(90deg, rgba(64, 47, 37, 1) 16%, rgba(108, 80, 63, 1) 100%);
}

.dragon {
    background: rgb(127, 104, 232);
    background: linear-gradient(90deg, rgba(127, 104, 232, 1) 16%, rgba(173, 157, 244, 1) 100%);
}

.electric {
    background: rgb(252, 186, 22);
    background: linear-gradient(90deg, rgba(252, 186, 22, 1) 16%, rgba(255, 212, 104, 1) 100%);
}

.fairy {
    background: rgb(246, 173, 246);
    background: linear-gradient(90deg, rgba(246, 173, 246, 1) 16%, rgba(195, 131, 195, 1) 100%);
}

.fighting {
    background: rgb(150, 81, 61);
    background: linear-gradient(90deg, rgba(150, 81, 61, 1) 16%, rgba(218, 129, 103, 1) 100%);
}

.fire {
    background: rgb(236, 64, 13);
    background: linear-gradient(90deg, rgba(236, 64, 13, 1) 16%, rgba(251, 113, 72, 1) 100%);
}

.flying {
    background: rgb(111, 130, 213);
    background: linear-gradient(90deg, rgba(111, 130, 213, 1) 16%, rgba(156, 174, 255, 1) 100%);
}

.ghost {
    background: rgb(92, 92, 173);
    background: linear-gradient(90deg, rgba(92, 92, 173, 1) 16%, rgba(126, 126, 246, 1) 100%);
}

.grass {
    background: rgb(115, 194, 53);
    background: linear-gradient(90deg, rgba(115, 194, 53, 1) 16%, rgba(160, 235, 101, 1) 100%);
}

.ground {
    background: rgb(209, 176, 85);
    background: linear-gradient(90deg, rgba(209, 176, 85, 1) 16%, rgba(252, 200, 55, 1) 100%);
}

.ice {
    background: rgb(130, 218, 247);
    background: linear-gradient(90deg, rgba(130, 218, 247, 1) 16%, rgba(124, 179, 198, 1) 100%);
}

.normal {
    background: rgb(213, 208, 202);
    background: linear-gradient(90deg, rgba(213, 208, 202, 1) 16%, rgba(148, 145, 142, 1) 100%);
}

.poison {
    background: rgb(142, 64, 143);
    background: linear-gradient(90deg, rgba(142, 64, 143, 1) 16%, rgba(198, 102, 199, 1) 100%);
}

.psychic {
    background: rgb(234, 69, 126);
    background: linear-gradient(90deg, rgba(234, 69, 126, 1) 16%, rgba(238, 115, 158, 1) 100%);
}

.rock {
    background: rgb(182, 158, 84);
    background: linear-gradient(90deg, rgba(182, 158, 84, 1) 16%, rgba(240, 209, 114, 1) 100%);
}

.steel {
    background: rgb(146, 146, 160);
    background: linear-gradient(90deg, rgba(146, 146, 160, 1) 16%, rgba(96, 96, 112, 1) 100%);
}

.water {
    background: rgb(54, 152, 251);
    background: linear-gradient(90deg, rgba(54, 152, 251, 1) 16%, rgba(1, 125, 251, 1) 100%);
}

.pokemon .types {
    list-style: none;
}


.pokemon .detail img {
    height: 85px;
    margin: .4rem;
    max-width: 100%;
    overflow: hidden;
}

.detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pagination {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.pagination button {
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin-top: 1.3rem;
    outline: none;
    padding: 1.3em 3em;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

.pagination button:hover {
    background-color: rgb(20, 3, 131);
    color: rgb(26, 77, 247);
    transition: 1.2s all ease-in-out; 
    
}

.pagination button:active {
    transform: translateY(-1px);
    cursor: pointer; 
    transform: scale(1.2); 
}


@media screen and (min-width: 380px) {

    .pokemonsContainer {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) {


    .pokemonsContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (min-width: 992px) {
    .pokemonsContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .content {
        border-radius: 1rem;
        height: auto;
        margin: 1rem auto;
        padding: 1.5rem;
        width: 992px;
    }
}